.App {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.467),
      rgba(255, 255, 255, 0.467)
    ),
    url("/images/floral.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 0;
  min-height: 100vh;
}

.App header {
  font-size: 50px;
  font-weight: bold;
  padding: 30px 0;
}

.App footer {
  font-size: 13px;
  margin: 30px 0;
  padding-bottom: 20px;
}

.App main {
  padding: 10px;
}

.App a {
  text-decoration: none;
}

.App .container {
  background: beige;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
