.Dictionary form {
  margin-bottom: 40px;
}

.Dictionary input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.Dictionary .search-bar {
  margin-right: 5px;
  width: 200px;
}

.Dictionary .submit-button {
  width: 80px;
}
